<!--
ESTE MENU Y TODOS LOS ARCHIVOS DE MENU DEBEN SER MEJORADOS: 
    SE DEBE QUITAR EL STYLE Y UBICAR DONDE CORRESPONDE, 
    SE DEBE CREAR EL SUBMENU QUE AHORA ESTA CREADO CON UN BOTON TIPO COMBO DESPLEGABLE DE UNA MEJOR MANERA
    SE DEBE RVISAR QUE CADA LINK DEL SUBMENÚ VAYA DONDE CORRESPONDA
    CADA MENU DE CADA PERFIL SE DEBE CREAR CON LOS LINKS DEBIDOS PARA CADA PERFIL, AL MOMENTO QUE SE HIZO SE GENERARON LINKS MEDIO AL TUN TUN PARA PROBAR
-->
@{
    //ViewBag.Title = "DELEGACION";
}

<li class="nav-item">@Html.ActionLink("Postulantes", "Index", "Delegacion", null, htmlAttributes: new { @class = "nav-link" })</li>
<a class="nav-link" href="https://prezi.com/view/jfNa400vMfyVpGEjIVws/" target="_blank">Ayuda</a>
@*<div class="dropdown">
    <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tareas
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="~/Delegacion">Asignar Fecha Entrevista</a>
        <a class="dropdown-item" href="~/Delegacion">Listado Entrevistas</a>
        <a class="dropdown-item" href="~/Delegacion">Asignar Presentacion</a>
    </div>
</div>*@