@model System.Web.Mvc.HandleErrorInfo

<style>

    @@media screen and (max-width: 600px) {
        .bordererror {
            border-right: hidden !important;
            border-bottom: #67676773 2px solid;
        }
    }

    @@media screen and (min-width: 600px) {
        .bordererror {
            border-bottom: hidden !important;
            border-right: #67676773 2px solid;
        }
    }

    .text-center {
        text-align: center
    }

    .negro-sub {
        text-decoration: underline;
    }
</style>
<br />
<div class="row text-center" style="margin-top:3vw">
    <div class="col-sm-12 ">
        <img class="img-fluid " style="width: 20vh; margin-bottom: 1rem" accesskey="" src="~/Imagenes/usu-bloqueado.png" />
    </div>
    <div class="col-sm-12 ">
        <div>
            <h6 class="text-black-50 text-center" style="font-size:8vh">@ViewBag.Title</h6>
            <p class="text-danger text-center">


                @if (Model != null)
                {


                    <h3 class="text-center"> @Model.Exception.Message </h3>


                }
                <a href="~/Home/Index" class="card-link" style="font-size: 1.3rem;">Ir a la Pagina Principal</a>
                <br />
                <a href="~/Account/Login" class="card-link" style="font-size: 1.3rem;">Iniciar Sesion</a>

            </p>
        </div>
    </div>
</div>