@*@model xxxxx*@
<!-- xxxxxxxxxxxx Debo indicar el TITLE de la pantalla y el MENUPERFIL correspondiente en todas las pantallas xxxxxxxxxxxxxx -->
@{
    ViewBag.Title = "Consultor";

    //ViewBag.Menu = SINU.Models.Func.CorrespondeMenu();
}
@*@section MenuPerfil{
    @Html.Partial((String)@ViewBag.Menu);
}*@
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<style>

    @@media screen and (max-width: 600px) {
        .bordererror {
            border-right: hidden !important;
            border-bottom: #67676773 2px solid;
        }
    }

    @@media screen and (min-width: 600px) {
        .bordererror {
            border-bottom: hidden !important;
            border-right: #67676773 2px solid;
        }
    }

    .text-center {
        text-align: center
    }

    .negro-sub {
        text-decoration: underline;
    }
</style>
<br />
<div class="row" style="align-content:center;margin-top:5vw">
    <div class="col-sm-6 bordererror">
        <img class="img-fluid" accesskey="" src="~/Imagenes/monitor_error.png" />
    </div>
    <div class="col-sm-6 ">
        <div>
            <h1 class="text-black-50 text-center" style="font-size:10vh">Perfil CONSULTOR</h1>
            <h2 style="font-size:5vh; color:#ff3c3c; text-align:justify">@User.Identity.Name</h2>
            <p class="text-danger" style="        text-align: left !important">

                    <h2> Listado de tareas a realizar </h2>
                    <h3> <b class="negro-sub">1</b>: xxx </h3>
                    <h3> <b class="negro-sub">2</b>: zzz </h3>
                    <h3> <b class="negro-sub">3</b>: qqq </h3>
                @Html.Action("Index","ConsultaProgramadas")
            </p>
        </div>
    </div>
</div>

