
<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-sm-8 align-self-center text-center">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1>Armada Argentina</h1>
                    <img src="~/Imagenes/loader.png" style="width: 40% !important;" alt="Alternate Text" />
                    <div style="font-size:24px;" class="text-center">
                        <h2>Cambio de Contraseña</h2>
                        <h4>@ViewBag.Parrafo</h4>
                    </div>

                    <p>
                        Porfavor @Html.ActionLink("haga click aqui para Iniciar Sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
