
<!--  TEXTO QUE APARECERA EN EL CORREO -->
<!--  EJEMPLO  -->
<p class="lead" style="text-align:justify;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0">
    Esto es el cuerpo del mail del paso 1. Ha pasado a la etapa de Entrega de documentacion.
    Esto es el cuerpo del mail del paso 1. Ha pasado a la etapa de Entrega de documentacion.
    Esto es el cuerpo del mail del paso 1. Ha pasado a la etapa de Entrega de documentacion.Esto es el cuerpo del mail del paso 1. Ha pasado a la etapa de Entrega de documentacion.

</p>
<BR />
<p style="text-align:center;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:13px;font-weight:400;line-height:1.6;margin:0;margin-bottom:5px;padding:0">
    TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO
    TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO
    @Model.dato_enviado

</p>
<p style="text-align:center;">
    <a href="@Model.LinkConfirmacion" style="background: #0078D4;border: 1px solid #FFF;color: #FFF;font-family: sans-serif;font-size: 15px;line-height: 1; text-align: center;text-decoration: none; width:480px;height:170px ; padding:15px;">
        COMFIRMAR CORREO
    </a>
</p>