@model SINU.Models.Sexo

@{
    ViewBag.Title = "Sexo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Registro</h2>

<div class="alert alert-warning" role="alert">
    Esta a punto de eliminar un Registro.
</div>

<div>
    <h4>Sexo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    @Html.ActionLink("Volver a la lista", "Index")
</div>
    }
</div>
